<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Выбор игры</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Добрый день, {{ user.username }}!</h1>
        <div>
            <a href="{% url 'new_game' %}" >
                Новая игра
            </a>
        </div>
        <div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="button">Выход</button>
            </form>
        </div>
    </div>
</body>
</html>