<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Войдите в свою учётную запись</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Имя пользователя:</label><br>
                {{ form.username }}<br>
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors.0|slice:":-1" }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password">Пароль:</label><br>
                {{ form.password }}<br>
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors.0|slice:":-1" }}</div>
                {% endif %}
            </div>

            <button type="submit" class="button">Ввести данные</button>
        </form>
    </div>
    <div class="home">
        <a href="{% url 'home' %}">На главную страницу</a>
    </div>
</body>
</html>
