<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chess</title>
        <style>
            canvas {
            cursor: pointer;
        }
        </style>
    </head>
    <body>
    <canvas id='chessboard'>Шахматная доска</canvas>
    <script>
        var canvas = document.getElementById("chessboard");
        var context = canvas.getContext('2d');

        // Размеры холста
        canvas.width = 600;
        canvas.height = 600;

        // Положение фигур
        var piecesPosition = [
            { type: 'white_rook', x: 0, y: 7 },
            { type: 'white_knight', x: 1, y: 7 },
            { type: 'white_bishop', x: 2, y: 7 },
            { type: 'white_queen', x: 3, y: 7 },
            { type: 'white_king', x: 4, y: 7 },
            { type: 'white_bishop', x: 5, y: 7 },
            { type: 'white_knight', x: 6, y: 7 },
            { type: 'white_rook', x: 7, y: 7 },
            { type: 'white_pawn', x: 0, y: 6 },
            { type: 'white_pawn', x: 1, y: 6 },
            { type: 'white_pawn', x: 2, y: 6 },
            { type: 'white_pawn', x: 3, y: 6 },
            { type: 'white_pawn', x: 4, y: 6 },
            { type: 'white_pawn', x: 5, y: 6 },
            { type: 'white_pawn', x: 6, y: 6 },
            { type: 'white_pawn', x: 7, y: 6 },
            { type: 'black_rook', x: 0, y: 0 },
            { type: 'black_knight', x: 1, y: 0 },
            { type: 'black_bishop', x: 2, y: 0 },
            { type: 'black_queen', x: 3, y: 0 },
            { type: 'black_king', x: 4, y: 0 },
            { type: 'black_bishop', x: 5, y: 0 },
            { type: 'black_knight', x: 6, y: 0 },
            { type: 'black_rook', x: 7, y: 0 },
            { type: 'black_pawn', x: 0, y: 1 },
            { type: 'black_pawn', x: 1, y: 1 },
            { type: 'black_pawn', x: 2, y: 1 },
            { type: 'black_pawn', x: 3, y: 1 },
            { type: 'black_pawn', x: 4, y: 1 },
            { type: 'black_pawn', x: 5, y: 1 },
            { type: 'black_pawn', x: 6, y: 1 },
            { type: 'black_pawn', x: 7, y: 1 },
        ];

        // Загрузка изображений фигур
        var images = {
            white_pawn: new Image(),
            black_pawn: new Image(),
            white_rook: new Image(),
            black_rook: new Image(),
            white_knight: new Image(),
            black_knight: new Image(),
            white_bishop: new Image(),
            black_bishop: new Image(),
            white_queen: new Image(),
            black_queen: new Image(),
            white_king: new Image(),
            black_king: new Image(),
        };

        images.white_pawn.src = '/static/images/white_pawn.png';
        images.black_pawn.src = '/static/images/black_pawn.png';
        images.white_rook.src = '/static/images/white_rook.png';
        images.black_rook.src = '/static/images/black_rook.png';
        images.white_knight.src = '/static/images/white_knight.png';
        images.black_knight.src = '/static/images/black_knight.png';
        images.white_bishop.src = '/static/images/white_bishop.png';
        images.black_bishop.src = '/static/images/black_bishop.png';
        images.white_queen.src = '/static/images/white_queen.png';
        images.black_queen.src = '/static/images/black_queen.png';
        images.white_king.src = '/static/images/white_king.png';
        images.black_king.src = '/static/images/black_king.png';

        var imagesLoaded = 0;
        for (var key in images) {
            images[key].onload = function() {
                imagesLoaded++;
                if (imagesLoaded === Object.keys(images).length) {
                    drawPieces(); // Вызовите drawPieces только после загрузки всех изображений
                }
            };
            images[key].src = images[key].src; // Запустите загрузку изображений
        }


        var selectedPiece = null;
        var offsetX, offsetY;

        // Обработчики событий мыши
        canvas.addEventListener('mousedown', function(event) {
            var mousePos = getMousePos(canvas, event);
            selectedPiece = getPieceAtPosition(mousePos);

            if (selectedPiece) {
                offsetX = mousePos.x - (20 + selectedPiece.x * 70 + 25);
                offsetY = mousePos.y - (20 + selectedPiece.y * 70 + 25);
            }
        });

        canvas.addEventListener('mousemove', function(event) {
            if (selectedPiece) {
                drawBoard();
                drawPieces();
                var mousePos = getMousePos(canvas, event);
                context.drawImage(images[selectedPiece.type],
                    mousePos.x - offsetX - (50 / 2),
                    mousePos.y - offsetY - (50 / 2),
                    50,
                    50
                );
            }
        });

        canvas.addEventListener('mouseup', function(event) {
            if (selectedPiece) {
                var mousePos = getMousePos(canvas, event);
                var newX = Math.floor((mousePos.x - 20) / 70);
                var newY = Math.floor((mousePos.y - 20) / 70);

                // Обновляем позицию фигуры
                if (newX >= 0 && newX < 8 && newY >= 0 && newY < 8) {
        // Обновляем позицию фигуры
                    selectedPiece.x = newX;
                    selectedPiece.y = newY;
                }

                selectedPiece = null;
                drawBoard();
                drawPieces();
            }
        });
        //ПРОВЕРИТЬ ЗДЕСЬ КОД ТАКЖЕ ЛОГИКУ ХОДОВ

        function getMousePos(canvas, event) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: event.clientX - rect.left,
                y: event.clientY - rect.top
            };
        }

        function getPieceAtPosition(mousePos) {
            for (var i = 0; i < piecesPosition.length; i++) {
                var piece = piecesPosition[i];
                if (
                    mousePos.x >= (20 + piece.x * 70) &&
                    mousePos.x <= (20 + piece.x * 70 + 50) &&
                    mousePos.y >= (20 + piece.y * 70) &&
                    mousePos.y <= (20 + piece.y * 70 + 50)
                ) {
                    return piece;
                }
            }
            return null;
        }

        function drawBoard() {
            for (var i = 0; i < 8; i++) {
                for (var j = 0; j < 8; j++) {
                    context.fillStyle = (i + j) % 2 === 0 ? 'white' : 'black';
                    context.fillRect(20 + i * 70, 20 + j * 70, 70, 70);
                }
            }
        }

        function drawPieces() {
            piecesPosition.forEach(function(piece) {
                context.drawImage(images[piece.type],
                    20 + piece.x * 70 + (70 - 50) / 2,
                    20 + piece.y * 70 + (70 - 50) / 2,
                    50,
                    50
                );
            });
        }
        function movePiece(piece, newX, newY) {
            console.log('Attempting to move piece:', piece, 'to new position:', newX, newY);

       // Проверяем, что piece не null
            if (!piece) {
                console.error('No piece object provided');
                return;
       }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/move_piece/", true);  // Убедитесь, что этот путь действительно ведет к нужному обработчику
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log('Move successful:', JSON.parse(xhr.responseText));
                        drawPieces(); // снова отрисовать фигуры
                    } else {
                        console.error('Error occurred while moving piece:', xhr.responseText);
                    }
                }
            };


       xhr.send("piece=" + encodeURIComponent(JSON.stringify(piece)) + "&new_x=" + newX + "&new_y=" + newY);
   }
    </script>
    </body>
    </html>
