<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chess</title>
        {% load static %}
        <script src="{% static 'chessboard_piece_move.js' %}" defer></script>
        <style>
            canvas {
            cursor: pointer;
        }
        </style>
    </head>
    <body>
    <canvas id='chessboard'>Шахматная доска</canvas>
    <input type="hidden" id="gameId" value="{{ game_id }}" />


    </body>
    </html>